table {
    width: 40%;
}

tr {
    height: 35px;
    background-color: whitesmoke;
}

tr:nth-child(4n+1) {
    height: 50px;
    background-color: gray;
}

td, th {
    text-align: left;
}

tr:last-child td {
    text-align: center;
}